/* Write your CSS here */
.bgContainer {
  background: linear-gradient(to right, #fa7257, #fc63a7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 900;
  color: #ffffff;
}

.nameContainer {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  padding: 50px 100px 50px;
  border: none;
  background-color: #fddddb;
  border-radius: 7px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 220px;
  margin-left: 32px;
  margin-right: 32px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  font-family: 'Roboto';
  font-size: 15px;
  padding: 10px 20px 10px;
  color: #dd1264;
  border: none;
  border-radius: 7px;
  font-weight: 700;
}
